[submodule "comp/bare-metal"]
	path = comp/bare-metal
	url = git@github.com:blitzin2023/raw-machine-dev.git
[submodule "comp/devmem2"]
	path = comp/devmem2
	url = git@github.com:blitzin2023/devmem2.git
